*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0,0,0,0.05);
}

main{
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    gap: 20px;
}

main > div{
    border: 1px solid #ccc;
    padding: 10px 20px;
}
input{
    padding: 5px 10px;
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 10px;
}
